.env
.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/
.vscode/
data/chroma/*
!data/chroma/.gitkeep
data/raw/markdown/*
!data/raw/markdown/.gitkeep
data/raw/html/*
!data/raw/html/.gitkeep
data/raw/pdf/*
!data/raw/pdf/.gitkeep
data/raw/txt/*
!data/raw/txt/.gitkeep
data/processed/*
!data/processed/.gitkeep
!data/processed/source_metadata.json